<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script th:src="@{/js/chat.js}" defer></script>
<link rel="stylesheet" th:href="@{/css/chatbot/bot-message.css}">
<div class="flex center date" th:if="${msg.today}" th:text="${msg.today}"></div>
<div class="msg bot flex">
	<div class="icon">
		<img th:src="@{/img/icon/chatbot.png}">
	</div>
	<div class="message">
		<!-- 문장 출력 -->
		<div class="part">
			<p th:utext="${msg.answer.content}"></p>
		</div>

		<!--		<div class="part" th:if="${msg.answer.keyword ne '전화' or msg.answer.phone != null}"></div>-->
		<!--		<div class="part" th:if="${msg.answer.keyword ne '주소' or msg.answer.address != null}"></div>-->
		<!--		<div class="part" th:if="${msg.answer.keyword ne '포지션' or msg.answer.position != null}"></div>-->
		<!--		<div class="part" th:if="${msg.answer.keyword ne '이메일' or msg.answer.email != null}"></div>-->


		<div th:if="${msg.answer.keyword eq '전화'}">
			<div class="part" th:if="${msg.answer.phone != null}">
				<p>
					<span th:text="${msg.answer.phone.deptName}"></span>&nbsp;:&nbsp;
					<span th:text="${msg.answer.phone.memberName}"></span>&nbsp;:&nbsp;
					<span th:text="${msg.answer.phone.phone}"></span>
				</p>
			</div>
			<div class="part" th:if="${msg.answer.phone == null}">
				<p>
					존재하지 않는 회원입니다.
				</p>
			</div>
		</div>
		<div th:if="${msg.answer.keyword eq '주소'}">
			<div class="part" th:if="${msg.answer.address != null}">
				<p>
					<span th:text="${msg.answer.address.deptName}"></span>&nbsp;:&nbsp;
					<span th:text="${msg.answer.address.memberName}"></span>&nbsp;:&nbsp;
					<span th:text="${msg.answer.address.address}"></span>
				</p>
			</div>
			<div class="part" th:if="${msg.answer.address == null}">
				<p>
					존재하지 않는 회원입니다.
				</p>
			</div>
		</div>
		<div th:if="${msg.answer.keyword eq '포지션'}">
			<div class="part" th:if="${msg.answer.position != null}">
				<p>
					<span th:text="${msg.answer.position.deptName}"></span>&nbsp;:&nbsp;
					<span th:text="${msg.answer.position.memberName}"></span>&nbsp;:&nbsp;
					<span th:text="${msg.answer.position.position}"></span>
				</p>
			</div>
			<div class="part" th:if="${msg.answer.position == null}">
				<p>
					존재하지 않는 회원입니다.
				</p>
			</div>
		</div>
		<div th:if="${msg.answer.keyword eq '이메일'}">
			<div class="part" th:if="${msg.answer.email != null}">
				<p>
					<span th:text="${msg.answer.email.deptName}"></span>&nbsp;:&nbsp;
					<span th:text="${msg.answer.email.memberName}"></span>&nbsp;:&nbsp;
					<span th:text="${msg.answer.email.email}"></span>
				</p>
			</div>
			<div class="part" th:if="${msg.answer.email == null}">
				<p>
					존재하지 않는 회원입니다.
				</p>
			</div>
		</div>
		<div th:if="${msg.answer.keyword eq '날씨'}">
			<div class="part" th:if="${msg.answer.weather != null}">
				<p>
					<!--					문의하신<span th:text="${msg.answer.weather.cityVal}"></span>의 날씨입니다.<br>-->
					<!--					도시: <span th:text="${msg.answer.weather.city}"></span>&nbsp;:&nbsp;<br>-->
					습도: <span th:text="${msg.answer.weather.humidity}"></span><br>
					바람 속도: <span th:text="${msg.answer.weather.wind}"></span><br>
					구름양: <span th:text="${msg.answer.weather.cloud}"></span><br>
					최저온도: <span th:text="${msg.answer.weather.temp_min}"></span><br>
					최고온도: <span th:text="${msg.answer.weather.temp_max}"></span><br>
					현재온도: <span th:text="${msg.answer.weather.temp}"></span><br>
					현재날씨 상태: <span th:text="${msg.answer.weather.weather_description}"></span>
				</p>
			</div>
			<div class="part" th:if="${msg.answer.weather == null}">
				<p>
					존재하지 않는 지역입니다.
				</p>
			</div>
		</div>
		<div th:if="${msg.answer.keyword eq '버스'}">
			<div class="chatBus-header">
				<input type="text" name="search" id="search" placeholder="노선(버스)번호를 입력하세요">
				<input type="button" value="버스노선검색" onclick="ChatBusSearch()">
				<div class="chatBus-detail">
					<table>
						<thead>
						<tr>
							<th>노선명</th>
							<th>노선유형</th>
							<th>노선거점</th>
							<th>노선종점</th>
							<th>첫차시간</th>
							<th>막차시간</th>
							<th>배차간격</th>
						</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="time" th:text="${msg.time}">메세지 작성 시간</div>
	</div>
</div>

</html>